@media (max-width: 600px) {
    /* header và Navigation */
    #header .box-header {
        background-color: #FFF !important;
    }

    #navigation {
        display: none;
    }
    .box-btn-navMobile {
        display: inline-block;
    }


    /* slider */
    .carousel-item .text-item {
        font-size: 30px;
    }

    /* info shop */
    .info-shop {
        width: 100%;
        display: grid;
        padding-left: 15px;
        padding-right: 15px;
    }

    .info-shop .box-img-info {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .info-shop .box-content-info {
        margin: 0;
        margin-top: 20px;
        max-width: 100%;
        position: relative;
    }

    .box-content-info .backgound-layer {
        display: none;
    }


    /* List glasses */
    .box-tittle-list p {
        margin-left: 15px;
        margin-right: 15px;
    }

    .row .col-4 {
        /* display: inline-block; */
        width: 100%;
        padding: 0 15px;
    }


    /* Best seller */
    .background-content-BS .box-content-BS {
        max-width: 612px;
        padding: 85px 10px 90px 10px;
    }

    #container-best-seller-glasses .box-best-seller {
        display: grid;
    }

    .box-best-seller .box-img-BS {
        max-width: 100%;
    
    }

    .box-img-BS img {
        margin: 0;
        padding: 0;
    }

    .box-best-seller .background-content-BS {
        max-width: 100%;
        width: auto;
        margin: 0 10px;
    }

    /* clients review */
    .box-reviews {
        position: relative;
        width: 100%;
        padding: 220px 30px 50px 30px;
        padding-bottom: 50px;
        margin: 0 30px;
        min-height: 254px;
    }

    .img-client {
        position: absolute;
        left: 30px;
        top: 40px
    }

    /* contact client */
    .box-contact {
        left: 0 !important;
        right: 0;
    }

    .box-contact h3 {
        width: 100% !important;
    }

    .box-contact input {
        width: 100% !important;
    }

    .box-contact button {
        width: 100%;
    }


    /* footer */
    .box-contact-shop{
        height: auto !important;
    }

    .contact-icons {
        display: grid !important;
    }

    .contact-icons li {
        padding: 10px 0;
    }

    .contact-icons li a {
        margin-bottom: 10px !important;
    }

    .link-template p {
        text-align: center;
    }

    .link-template p a {
        display: block;
    }
}

@media (max-width: 400px) {
    #navigation {
        display: none;
    }

    #header .box-header {
        padding-left: 15px;
        padding-right: 20px;
    }

    .box-btn-navMobile {
        display: block;
    }

    .box-navMobile {
        top: 120px;
        left: 15px;
        right: 15px;
    }

    .box-contact {
        width: 100%;
        left: 0;
    }
}